[submodule "SmartHouse-Sensors"]
	path = SmartHouse-Sensors
	url = https://github.com/VFX10/SmartHouse-Sensors
[submodule "SmartHouse-Server"]
	path = SmartHouse-Server
	url = https://github.com/VFX10/SmartHouse-Server
[submodule "SmartHouse-Mobile"]
	path = SmartHouse-Mobile
	url = https://github.com/VFX10/SmartHouse-Mobile
